<%= form_tag(preview_flights_url) do %>
  <% if @flight.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@flight.errors.count, "error") %> prohibited this flight from being saved:</h2>

      <ul>
      <% @flight.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>  
                                    
  <div class="field">
    <%= label_tag :flight_number, "Flugnummer" %><br />
    <%= text_field_tag :flight_number %>
  </div>

  <div class="actions">
    <%= link_to 'Back', flights_path, :class => "btn" %>
    <%= submit_tag "Preview", :class => "form_submit btn primary"%>
  </div>
<% end %>
